<div class="container h-100">
  <div class="htop">
    <h3 class="text-center">Редактирование Доклада:
      <h4>{{model.title}}</h4>
    </h3>
    {{report-form report=model onsubmit=(action "saveReport")}}
  </div>
</div>
{{outlet}}